{% comment %}Password field with show/hide toggle. Expects: field{% endcomment %}
<div class="space-y-1.5" x-data="{ show: false }">
    <label for="{{ field.id_for_label }}" class="field-label">{{ field.label }}</label>
    <div class="relative">
        {{ field }}
        <button type="button" tabindex="-1"
                @click="show = !show; document.getElementById('{{ field.id_for_label }}').type = show ? 'text' : 'password'"
                class="absolute right-2.5 top-1/2 -translate-y-1/2 text-muted-foreground hover:text-foreground">
            <span x-show="!show">{% include "icons/eye.html" %}</span>
            <span x-show="show" x-cloak>{% include "icons/eye-off.html" %}</span>
        </button>
    </div>
    {% if field.errors %}<p class="field-error">{{ field.errors|striptags }}</p>{% endif %}
</div>
